doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type='text/css' href='/css/style.css')
    body
      header
        .page-header 
            a.home(href='https://www.google.com/')
              img(src='/icon/home.png' height='30')
            strong App Title
            a.setting(href='https://www.google.com/')
              img(src='/icon/gear.png' height='30')
        
      block content 
      footer
      