html {
    font-family: 微軟正黑體;
    color: #2E2D2D;
    width: 375px;
    margin: 0;
    
}

.select-top-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 20px 0;
}
.select-country-list{
    padding: 10% 0 30% 0;
}

p{
    display: block; 
    width:100%;
    text-align: center;    
}

  /* 選擇國家的搜尋欄先隱藏 */
.select-search-bar {   
    display:none;
    /* text-align: center;     */
    width: 100%;
    margin-bottom: 10px;
}

.select-search-bar img {
    position: relative;
    margin: 3px 0 0 0;
}

.option,.option-info{
    cursor: pointer;
    margin:10px 0 0 0;
    padding:0 5px 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.option:focus{
    border: 2px solid #8a8888;
    border-radius: 10px;
}

img.select-flag{
    margin: 0 10px 0 0;
}

.confirm-area{
    background-color: white;
    margin: 5px 0 0 0;
    width: 100%;
    border-top: 1px solid #8a8888;
    height:16%;
    position: fixed;
    bottom: 0;
}

strong,span{
    border-top: 1px solid #8a8888;
    padding:0 10px 5px 5px;
}

.AddBotton{
    position: fixed;  
    left: 50%;
    transform: translate(-50%, -50%);   
    bottom: 1%;
    z-index: 1000;
}

.addNew{
    font-weight: 1000;
    color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center ;
    width: 150px;
    height: 40px;
    border: 1px solid #7393ce;
    border-radius: 50px;
    background-color: #7393ce;
    
}




